<!DOCTYPE html>
<html>
<title>Your YouMap</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<link rel="stylesheet" href="./css/font-awesome.min.css">


<link rel="stylesheet" href="./css/high.css">
<link rel="stylesheet" href="./css/colors.css">
<link rel="stylesheet" href="./css/interface.css">
<link rel="stylesheet" href="./css/bootstrap.css">
<!-- Repare packet for Bootstrap-->
<link rel="stylesheet" href="./css/upgradeBootstrap.css">

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"-->
        <!--integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif
    }
</style>

<link rel="stylesheet" href="./css/animation.css">

<script src="./js/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
<script src="./js/main.js"></script>

<body class="w3-theme-l5" style="background-color: #303E45 !important;" ng-app="YouMap" ng-controller="myCtrl">

<!-- Navbar -->
<div class="w3-top nav-h">
    <div class="w3-bar w3-theme-d5 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="{{site}}/main" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"> <img src="Spotcues-icon.png" height="27px"/>&nbsp; YouMap </a>
        <a href="{{site}}/main" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
        <a href="{{site}}/editProfile" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i
                class="fa fa-user"></i></a>
        <a href="{{site}}/logout" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-small w3-hover-white" title="My Account">Wyloguj</a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>


<div class="card-columns" style="margin-left: 5%; margin-right: 5%; margin-top: 9vh;">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Twoja nowa podróż</h4>
            <p class="card-text">Zostaniesz przekierowany do kreatora podróży YouMap</p>
            <a href="{{site}}/travelCreator" class="btn btn-primary">Do dzieła!</a>
        </div>
    </div>

    <div class="card" ng-repeat="travel in travels" ng-cloak>
        <div class="card-body">
            <h4 class="card-title">{{travel.title}}</h4>
            <h6 class="card-subtitle text-muted">{{travel.howManyPoints}} zdjęć</h6>
        </div>
        <!-- Image -->
        <img ng-src="{{site}}/photo/{{travel.code}}/{{travel.points.name}}" alt="Zdjęcie z podróży" style="width: 100%">
        <!-- Text Content -->
        <div class="card-body">
            <p class="card-text">{{travel.description}}</p>
        </div>
        <div class="row justify-content-center align-items-center mb-1">
            <a href="{{site}}/edit/travel/{{travel.code}}" class="btn btn-sm btn-warning">Edytuj</a>
            <a href="{{site}}/travelViewer?tr={{travel.code}}" class="btn btn-sm btn-info mr-1 ml-1">Podgląd</a>
            <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#{{$index}}" aria-expanded="false"
                    aria-controls="{{$index}}">Kod dostępu
            </button>
        </div>
        <div class="card-body collapse container-fluid mt-1" id="{{$index}}">
            <p class="card-text">Możesz udostępnić swoją podróż innym pod tym adresem:<br>
                <strong>{{site}}/travelViewer?tr={{travel.code}}</strong></p>
            <button type="button" class="btn btn-sm btn-outline-warning" ng-click="generateNewKeyTravel($index)">Wygeneruj nowy</button>
        </div>
    </div>

</div>

</body>
</html>
